*.c text eol=lf
*.cpp text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.m text eol=lf
*.md text eol=lf
*.mm text eol=lf
*.py text eol=lf
*.sln text eol=lf
*.swift text eol=lf
*.toml text eol=lf
*.vcxproj text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.zip binary

# Preserve the reviewed upstream Miniz license byte-for-byte. The file has no
# extension, so the generic text rules do not cover it and core.autocrlf would
# otherwise make its recorded provenance digest platform-dependent.
external/miniz/LICENSE binary
